.card-body{
    text-align: left;
}

.card-body h1{
    font-size: 50px;
}

.card-body h3{
    text-align: justify;
    color: gray;
    font-size: 20px;
}

.card-body h4{
    font-size: 40px;
    font-weight: 600;
}

.details-card{
    border: none;
   
}

.details-card button{
    background-color: tomato;
    width: 100px;
    border-radius: 20px;
    color: white;
    padding: 10px;

}

.input-group input{
    width: 50px;
    border-radius: 30px;
    border: 2px solid red;
    font-weight: 600;
}
.input-group button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.input-group{
    margin-left: 20px;
}

.addToCart{
    text-align: left;
    margin: 100px;
}

.addToCart input{
    height: 50px;
    width: 100px;
    border-radius: 30px;
    color: white;
    background-color: tomato;
}