.item-container{
   
}

nav a{
    text-decoration: none;
    color: tomato;
    padding: 10px;
    font-size: 20px;
}

.category{
    margin: 30px;
}

.category button{
    background: none;
    border: none;
    color: tomato;
    padding: 10px;
    font-weight: 400;
}