.map img{
    width: 80%;
    border-radius: 10px;
    margin-top: 20px;
    
}

.location{
    background-color: white;
    border-radius: 15px;
    width: 90%;
    text-align: left;
    padding: 5% 10%;
} 

.deliveryLogo{
    width: 40%;
    padding: 10px
}

.body{
    background-color: rgb(245, 245, 245);
}

.time p{
    font-size: 300%;
    font-weight: 400;
}

.time h5{
    font-weight: 400;
}

/* .summary{
    margin-left: 20px;
} */

.raider img{
    width: 80%;
}

.raider{
    margin-left: 5%;
}

.location{
    margin: 0 auto;;
}

button.place-order{
    background-color: rgb(249, 25, 68);
}