.ship-form{
    margin: 30px 100px;

}

.ship-form input{
    display: block;
    width: 350px;
    padding: 10px;
    background-color: rgb(245, 245, 245);
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

input.btn-submit{
    background-color: rgb(249, 25, 68);
    color: white;
    font-weight: 400;
}

.ship-header{
 
    text-decoration: underline;
    text-align: center;
}

.error{
    display: block;
    color: red;
}
.order-info{
    text-align: left;
}

.bill{
    text-align: left; 
}

.place-order{
    width: 100%;
    border: none;
    border-radius: 5px;
    
    color: white;
    font-weight: 400;
    padding: 10px;
}