.food-item{
    margin-top: 100px;
    border: 1px solid gray;
    box-shadow: 2px 4px 6px gray;
    width: 300px;
    text-align: center;
    margin: 10px;
}

.food-item{
   border: none;
}

.menu-item{
    margin: 20px;
  
}

.menu-item img{
    width: 250px;
    text-align: center;
}


.card{
    border: none;
    border-radius: 20px;
}




.card:hover{
    box-shadow: 4px 4px 10px lightgray;
}

.food-card .card-body{
    text-align: center;
    color: darkslategray;
}